extends layout
block content 
    #aboutContainer.container.m-auto 
        h2 This project is made as an IGT project in VJTI college.
        h3 Contributor
        .btn.btn-primary Vedant Mondkar
        #repoLink
            a(href="https://github.com/vdmondkr2002/Parking_Helper") Github Repo Link