extends layout

block content 
    
    hr#divider
    .container 
      .row 
        .card#homepagecard.m-auto
          .card-body
            h4.card-title Worried About Parking Your Vehicle In a Busy City Like Mumbai?😕
            h4.card-subtitle.mb-2.text-center We are here to help you Out!!
            h5.card-text.text-center
              | Click on the Below Button 
              a.nav-link(href="/map")
                button.btn.btn-primary Go To Map
        
      .row 
        .col#homeLeftImage
        .col#homeRightImage
    
        //-   h3 Worried Abour Parking Your Vehicle In a Busy City Like Mumbai
        //- br
        //- div
        //-   h4 We are here to help you Out 
        //- br
        //- div
        //-   h5 Click on the below Above Button 'Go To Map'
  
