*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://image.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}
.btn-primary{
  background: yellow;
  color: blue;
}
#homepagecard{
  background: none;
  color: yellow;
}
#nav-btns{
  border-radius: 10px;
  margin-right: 3rem;
}

#map {
  max-width: 500px;
  height: 650px;
  margin-bottom: 20px;
  border: 6px solid blue;
  border-radius: 20px;
}
#divider {
  border: 10px solid green;
  border-radius: 5px;
}
#homeLeftImage{
  background-image: url("../images/car-parking-homepage-cropped.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 800px;
  height: 400px;
  border-radius: 10px;
}
#homeRightImage{
  background-image: url("https://cdn.dribbble.com/users/102849/screenshots/7044978/media/3be8b6aac66802ee3a254cec9f1ae855.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
}
#areawise{
  color: green;
}
.parkingName{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#select{
  border: 4px solid green;
  background: lightgreen;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 5px 10px greenyellow;
  padding: 7px;

}



table{
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

#verticenter{
  margin: 0;
  position: absolute;
  top: 300px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#btnStyle{
  height:5rem;
  font-size: large;
}

th, td {
  
  border: 1px solid blue;
  background: lightcyan;
}

#green {
  background: lightgreen;
}


.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}


